@model ReporteTransaccionesDetalladas


@{
    ViewData["Title"] = "Reporte Diario"; 
}

<partial name="_SubMenu" model="SubMenuTransacciones.Diario" />
<div class="mb-3">
    <a asp-action="Crear" class="btn btn-primary btn-create shadow">
        <i class="bi bi-plus-lg me-2"></i> Crear Nueva Transacción
    </a>
</div>
<partial name="_ReporteTransaccionesDetalladas" model="Model" />
