@model CuentaCreacionViewModel

@{
    ViewData["Title"] = "Crear Cuenta";
}

<div class="header-content">
    <div class="header-text">
        <h1 class="page-title">
            <i class="bi bi-journal-plus me-2 text-primary"></i> Crear Cuenta
        </h1>
        <p class="page-description">
            El tipo de cuenta se refiere a como podemos agrupar cuentas.
            Ejemplos: Prestamos, tarjetas de credito, etc.
        </p>

    </div>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Crear" asp-controller="Cuentas">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label page-description"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoCuentaId" class="form-label page-description"></label>
        <select asp-for="TipoCuentaId" asp-items="Model.TiposCuentas" class="form-select" ></select>
        <span asp-validation-for="TipoCuentaId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Balance" class="form-label page-description"></label>
        <input type="text" asp-for="Balance" class="form-control" />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label page-description"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary">Crear</button>
    <a class="btn btn-outline-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}