@model TipoCuenta
@{
    ViewData["Title"] = "Crear Tipo Cuenta";
}

<div class="header-content">
    <div class="header-text">
        <h1 class="page-title">
            <i class="bi bi-journal-plus me-2 text-primary"></i> Crear Tipo de Cuenta
        </h1>
        <p class="page-description">
            El tipo de cuenta se refiere a como podemos agrupar cuentas.
            Ejemplos: Prestamos, tarjetas de credito, etc.
        </p>

    </div>
</div>


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Crear" asp-controller="TiposCuentas">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label page-description"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Crear</button>
    <a class="btn btn-outline-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}