@model TipoCuenta
@{
    ViewData["Title"] = "Editar";
}

<div class="header-content">
    <div class="header-text">
        <h1 class="page-title">
            <i class="bi bi-journal-plus me-2 text-primary"></i> Editar el tipo de cuenta: @Model.Nombre
        </h1>      
    </div>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Editar" asp-controller="TiposCuentas">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Editar</button>
    <a class="btn btn-outline-secondary" asp-action="Index">Cancelar</a>
</form>