@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categorías";
}

<div class="page-header">
    <div class="header-content">
        <div class="header-text">
            <h1 class="page-title">
                <i class="bi bi-wallet2 me-2 text-primary"></i> Categorías
            </h1>
            <p class="page-description">
                La categoría nos permite indicar en qué gastamos nuestro dinero,
                también, de dónde provienen nuestros ingresos.
            </p>
        </div>
    </div>
</div>



<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>
                    <a asp-action="Editar" asp-route-id="@categoria.Id" class="btn btn-outline-primary">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@categoria.Id" class="btn btn-outline-danger">Borrar</a>
                </td>
                <td>
                    @categoria.Nombre
                </td>
                <td>
                    @categoria.TipoOperacionId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>
